{% assign current = page.url | downcase | split: '/' %}
<header class="page-header">
  <nav class="container">
    <a class="site-title" href="{{ absolute_url }}/">{{ site.title }}</a>

    <a href="{{ '/projects/' | relative_url }}" {% if current[1] == 'projects' %}class="active"{% endif %}>Projects</a>
    <a href="{{ '/publications/' | relative_url }}" {% if current[1] == 'publications' %}class="active"{% endif %}>Publications</a>
    <a href="{{ '/talks/' | relative_url }}" {% if current[1] == 'talks' %}class="active"{% endif %}>Talks</a>
    <a href="{{ '/rsvp/' | relative_url }}" {% if current[1] == 'rsvp' %}class="active"{% endif %}>RSVP</a>
    <a href="{{ '/cv/' | relative_url }}">CV</a>

    <span class="external">
      <a href="https://twitter.com/twitter.header"><i class="fab fa-twitter"></i> Twitter.header</a>
      <a href="https://github.com/github.header"><i class="fab fa-github"></i> GitHub.header</a>
    </span>
  </nav>
</header>
