{% assign current = page.url | downcase | split: '/' %}
<header class="page-header">
  <nav class="container">
    <a class="site-title" href="{{ absolute_url }}/">{{ site.title }}</a>

    <a href="{{ '/photos/' | relative_url }}" {% if current[1] == 'photos' %}class="active"{% endif %}>Photos</a>
    <a href="{{ '/weddingDetails/' | relative_url }}" {% if current[1] == 'weddingdetails' %}class="active"{% endif %}>Wedding Details</a>
    <a href="{{ '/photos/' | relative_url }}" {% if current[1] == 'photos' %}class="active"{% endif %}>Photos</a>
    <a href="{{ '/rsvp/' | relative_url }}" {% if current[1] == 'rsvp' %}class="active"{% endif %}>RSVP</a>

    <span class="external">
      <!--<a href="https://twitter.com/twitter.header"><i class="fab fa-twitter"></i> Twitter.header</a>-->
      <a href="https://goo.gl/maps/srssZNGthaWE7tUU8" target="_blank"><i class="fas fa-map-marked-alt"></i> Map</a>
    </span>
  </nav>
</header>
